.tab-pane { padding: 20px; }

textarea.form-control { min-height: 150px; }
textarea.form-control.textarea-tall { min-height: 400px; }

#app_alert { margin-top: 10px; }

caption {
	padding: 0px 10px 10px 10px;
	font-size: 16px;
}

code { white-space: normal; }

section h1 {
	margin-top: 5px;
	font-size: 24px;
	margin-bottom: 20px;
	border-bottom: 1px solid #eee;
	padding-bottom: 5px;
}
section h2 {
	margin-top: 10px;
	font-size: 21px;
}

dd { margin-left: 10px; }

.dl-horizontal dt {
	width: auto;
	float: left;
	clear: left;
}
.dl-horizontal dd { float: left; margin-left: 15px; }

.spell-details .dl-horizontal dt, .dl-horizontal dd {
	margin-bottom: 5px;
}

.character-traits dt { margin-top: 5px; }
.character-traits dt:first-child { margin-top: 0px; }


#character-form, #characters-list, #characters-new {
	padding-bottom: 10px;
	border-bottom: 1px solid rgb(221,221,221);
	margin-bottom: 10px;
}

.dungeon-form button { margin-top: 25px; }

.delete .glyphicon, .conf-delete .glyphicon { color: rgb(169, 68, 66); }
.delete, .conf-delete, .edit { margin-left: 10px; }
.character-block .delete { margin-left: 50px; }

.character-block, .wilderness-details, .dungeon-details {
	padding: 10px;
	border: 1px solid rgb(221,221,221);
	border-radius: 5px;
	margin-bottom: 10px;
	background-color: aliceblue;
}

.dungeon-room {
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 5px;
	margin-bottom: 5px;
}
.dungeon-room h3 {
	font-size: 16px;
	margin-top: 0px;
}
.dungeon-room dl {
	margin-bottom: 0px;
}
.dungeon-room dt {
	float: left;
	margin-right: 10px;
}

li.character-list, li.chargroup-list, li.wilderness-list, li.dungeon-list {
	padding: 5px;
	border: 1px solid rgb(221,221,221);
	border-radius: 5px;
	margin-bottom: 5px;
	background-color: aliceblue;
	line-height: 1.8;
}

/* nested fieldset legends should be smaller */
fieldset fieldset legend {
	font-size: 16px;
}

#rtable-list table td { word-break: break-word; }

.rtable_select header { font-weight: bold; }
.rtable_select ol { margin-left: 15px; }
.subtable_roll { margin-left: 10px; font-size: .8em; font-style: italic; }
/*
.subtable_roll ol li {
	float: left;
	padding-left: 0px;
	padding-right: 10px;
	margin-left: 15px;
}
*/

#import_preview, #create_preview { height: 400px; overflow: scroll; }

#export-link { margin: 0 10px; }

/* //!Table and Phone */
@media (max-width: 767px) {

	
	.btn { font-size: 18px; margin: 0px 5px 5px 5px;  }
	.modal-header .close { font-size: 30px; }
	.badge { font-size: 14px; margin: 5px; }
	caption a { font-size: 20px; }
	
	.dungeon-form button { margin-top: 0px; }


}
